#messages {
    width: 500px;
    height: 500px;
    border: #000 1px solid;
    margin: 5px;
    border-radius: 5px;
    overflow: scroll;
}

#submit-text {
    margin: 5px;
}

#submit-file {
    margin: 5px;
}

#file {
    margin-bottom: 3px;
}

#container {
    display: block;
    width: 300px;
    height: 300px;
    border: #000 1px solid;
    margin: 5px;
    border-radius: 5px;
}

.in {
    margin: 5px;
}

#header {
    margin: 5px;
}

#btn {
    margin-left: 60%;
}