#messages {
    width: 500px;
    height: 500px;
    border: #000 1px solid;
    margin: 5px;
    border-radius: 5px;
    overflow: scroll;
}

#submit-text {
    margin: 5px;
}

#submit-file {
    margin: 5px;
}

#file {
    margin-bottom: 3px;
}